<h1>Recover Account</h1>
<p>
  If you have forgotten your password, enter your email address below 
  and click the "Recover My Account" button.<br />
  <br />
  An email will be sent with a link to your address on record. 
  Click this link to login and change your password.<br />
  <br />
  The link given will no longer function after your password is changed. 
</p>

<% form_tag recover_users_path, :method => :post do %>
  
  <label for="user_email">Email:</label><br />
  <%= text_field_tag :email %><br />
  
  <%= submit_tag "Recover My Account" %>
  
<% end %>
</p>