<h1>Micropost Search</h1>


  <table class="front" summary="results of the search">
    <tr>
      <td class="main">
        <%= render 'shared/micropost_results' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
        <%= render 'shared/search_posts' %>
      </td>
    </tr>
  </table>




